

body {
	font-size: 16px;
	color: #fff;
	background-color: orange/*#61122f*/;
	font-family: 'Oxygen', sans-serif;

}
#header-nav{
	background-color:white /*#f6b319*/;
	border-radius: 0;
	border: 0;
}
#logo-img{
	background: url('swosti.jpeg') no-repeat;
	width: 150px;
	height: 150px;
	margin: 10px 15px 10px 0;
}
.navbar-brand{
	padding-top: 25px;
}
.navbar-brand h1{
	font-family: 'Lora',serif;
	color: #557c3e;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .75;
}
.navbar-brand a:hover,.navbar-brand a:focus {
	text-decoration: none;
}
#nav-list{
	margin-top: 10px;
}
#nav-list a{
	color: black;
	text-align: center;
}
#nav-list a:hover {
	background: #E7E7E7;
}
#nav-list a span{
	font-size: 1.8em;
}
#phone{margin-top: 5px}
#phone a{ text-align: right;
padding-bottom: 0; }
#phone div{ color: #557c3e;
text-align: right;
padding-right: 15px; }
.navbar-header button.navbar-toggle, .navbar-header .icon-bar{
	border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle{clear: both;
margin-top: -30px;}

.panel-footer{
	margin-top: 30px;
	padding-top: 35px;
	padding-bottom: 30px;
	background-color: #222;
	border-top: 0;
}
.panel-footer div.row{
	margin-bottom: 35px;
}
#hours, #address{
	line-height: 2;
}
#hours > span, #address > span{
	font-size: 1.5em;
}
#address p {
	color: red;
	font-size: .9em;
	line-height: 1.8;
}
#testimonials{
	font-style: italic;
}
#testimonials p:nth-child(2) {margin-top: 25px}

#menu-tile, #special-tile, #map-tile{
	height: 250px;
	width: 100%;
	margin-bottom: 15px;
	position: relative;
	border: 2px solid #3F0C1F;
	overflow: hidden;
}
#menu-tile:hover, #special-tile:hover, #map-tile:hover {
	box-shadow: 0 1px 5px 1px black;
}
#menu-tile {
	background: url('menu.jpg') no-repeat;
	background-position: center;
}
#special-tile {
	background: url('special.jpg') no-repeat;
	background-position: center;
}
#menu-tile span, #special-tile span, #map-tile span{
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	text-align: center;
	font-size: 1.6em;
	text-transform: uppercase;
	background-color: #000;
	color: #fff;
	opacity: .7;
}

@media (min-width: 1200px){
	.jumbotron{background: url('swosti large.jpg') no-repeat;
    height: 675px;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
}
}
@media (min-width: 992px) and (max-width: 1199px){
	#logo-img{
	background: url('swosti.jpeg') no-repeat;
	width: 100px;
	height: 100px;
	margin: 5px 5px 5px 0;}

	.jumbotron {background: url('swosti mid.jpg') no-repeat;
    height: 558px;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.jumbotron{background: url('swosti sm.jpg') no-repeat;
    height: 432px;
    box-shadow: 0 0 50px #3F0C1F;
    border: 2px solid #3F0C1F;}  
}
@media (max-width:767px){
	.jumbotron{
     	margin-top: 30px;
     	padding: 0;
     	padding-top: 0;
     	padding-bottom: 0px;
     	box-shadow: 0 0 50px #3F0C1F;
     	border: 2px solid #3F0C1F;
       }  
.containor {padding: 0;}
    .navbar-brand{padding-top: 10px;
		height: 80px;}
    .navbar-brand h1{padding-top: 10px;
		font-size: 5vw;}
	#menu-tile, #special-tile {
		width: 360px;
		margin: 0 auto 15px auto;
	}

    #collapsable-nav a{font-size: 1.2em;}
    #collapsable-nav a span {font-size: 1em; margin-right: 5px;}
}
